.container {
    position: relative;
    display: inline-block;
    background-color: aqua;
    width: 75%;
}
.element-container {
    display: flex;
    flex-wrap: wrap;
}
.element {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    box-sizing: border-box;
}
.img {
    max-width: 100%;
    height: auto;
}
.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}
#side {
     background-color: #f2f2f2;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 24%;
     position: fixed;
     top: 10px;
     right: 10px;
 }
#upcoming{
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 24%;
    position: fixed;
    right: 10px;
}
#top img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#top div {
    text-align: center;
}
.options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
#shows-btn:hover + .options {
    display: block;
}
body{
    background-color: black;
}
.list{
    background-color: #f9f9f9;
    width: 75%;
}